#title {
    margin-top: 1rem;
    margin-left: 1rem;
}

#contain {
    color: #333;
    text-align: center;

    /* Color and Background */
    background-color: #e9e9e9;
    border-radius: 5px;
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.56);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.56);
}

#container tr td {
    padding: 5px;
    text-align: center;
}

#dp1 ul li, #dp2 ul li {
    cursor: pointer;
}

.tombol {
    width: 100px;
    overflow: hidden;
}